* {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
  background-color: #d9dcd4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appBody {
  display: flex;

  background-color: white;
  width: 90vw;
  height: 95%;
}
